<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controladores.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Controladores.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDatos</servlet-name>
        <servlet-class>Controladores.ModificarDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controladores.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaProducto</servlet-name>
        <servlet-class>Controladores.AltaProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProductos</servlet-name>
        <servlet-class>Controladores.ModificarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProductos</servlet-name>
        <servlet-class>Controladores.BuscarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProductosDelete</servlet-name>
        <servlet-class>Controladores.BuscarProductosDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaProducto</servlet-name>
        <servlet-class>Controladores.BajaProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscasProdCategoria</servlet-name>
        <servlet-class>Controladores.BuscasProdCategoria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDatos</servlet-name>
        <url-pattern>/ModificarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaProducto</servlet-name>
        <url-pattern>/AltaProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProductos</servlet-name>
        <url-pattern>/ModificarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProductos</servlet-name>
        <url-pattern>/BuscarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProductosDelete</servlet-name>
        <url-pattern>/BuscarProductosDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaProducto</servlet-name>
        <url-pattern>/BajaProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscasProdCategoria</servlet-name>
        <url-pattern>/BuscasProdCategoria</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
