.container-log{
    padding-top: 150px;
    padding-left: 350px;
}

h3{
  padding-bottom: 20px;
}

.form-check{
    padding-bottom: 5px;
}

.registrar{
    padding-bottom: 5px;
    text-align: right;
}

#perfil-photo{
    width: 20px;
    height: 20px;
}
