.container-log{
    padding-top: 150px;
    padding-left: 350px;
}

.container-profile{
    height: 1200px; 
    
}

h3{
  padding-bottom: 20px;
}

.form-check{
    padding-bottom: 5px;
}

.registrar{
    padding-bottom: 5px;
    text-align: right;
}

#update-button{
    padding-top: 60px;
    padding-left: 430px;
}

.sing-out{
    padding-right: 45px;
    padding-top: 15px;
}

#personal h3{
    padding-right: 90px;
}


#second-row label{
    padding-top: 7px;
    padding-bottom: 7px;
}

.prof{
    font-weight: bold;
}

#modificar-datos-button{
    padding-left: 55px;
}

#exampleInputNombre, #exampleInputApellido,
#exampleInputUsuario, #exampleInputContraseña,
#exampleInputCorreo, #exampleInputTel, #exampleInputDireccion{
    font-weight: bold;
}

#modif{
    padding-top: 60px;
}